@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

body{
    text-align: center;
    background-color: burlywood;
}

div{
    display: inline-block;
    margin: 10px;
}

.player1{
    border: 2px solid lightblue;
}

.player1:hover{
    background-color: lightgreen;
}

.player2{
    border: 2px solid lightblue;
}

.player2:hover{
    background-color: pink;
}


img{
    width: 200px;
    height: 200px;
}

p{
    font-weight: bold;
    font-size: 24px;
    font-family: monospace;
}

footer{
    margin-top: 30px;
    font-weight: bold;
}

header{
    font-family: Permanent Marker;
    font-size: 40px;
}

input{
    padding: 10px 30px 10px 30px;
}

#inputBtn {
    transition-duration: 0.4s;
    padding: 10px 30px 10px 30px;
    font-family: Quantico;
}
  
#inputBtn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}


.newGame {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: Quantico;
}

.mainMenu {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: Quantico;
}

.newGame:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.mainMenu:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}